
.Group {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 30%;
    margin: 5px 4px;
    border-radius: 5px;
    justify-content: flex-start;
    padding: 0px, 10px;

}

.ItemPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    padding: 6px 0px;
}

.Title {
    font-size: 30px;
}